.Card4 {
    width: auto ;
    max-height: 800px;
    background: red;
    color: #fff;
    font-size: 30px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}